table {
    width: 100%;
}

tr.example-element-row:hover {
    background: rgb(201, 198, 198);
    cursor: pointer;
}

.MR5 {
    margin-right: 5px;
}

.DN {
    display: none;
}

.portlet_title_tsg_2 {
    color: #F6753C;
    padding-left: 10px;
    // font-size: 24px;
}

.actions {
    margin: 10px 0;
    padding: 0 10px;
    background: white;
}

.actions button {
    margin-right: 10px;
}

.caption {
    background: #00000008;
}

.PL10 {
    padding-left: 10px;
}

.PB10 {
    padding-bottom: 10px;
}

.docadd-filter {
    padding: 1px 0 !important;
    -webkit-appearance: textfield !important;
    background-color: white !important;
    -webkit-rtl-ordering: logical !important;
    border-width: 2px !important;
    border-style: inset !important;
    border-color: initial !important;
    border-image: initial !important;
    background: white !important;
}

::ng-deep {
    .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
        background-image: none !important;
        background-color: rgba(0, 0, 0, 0.42) !important;
    }
    .default-theme .mat-select-disabled .mat-select-value {
        color: rgba(0, 0, 0, 0.87) !important;
    }
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 4px !important;
    }
}