<div fxLayout="column" fxFlexFill class="route-container form-main">
    <div fxFlexFil class="actions">
        <button mat-stroked-button color="primary" type="button" class="MR5" ng-model="showList" #undo1 (click)="gotoBack()"><i class="material-icons">undo</i>&nbsp; <span class="Submit1"></span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="ViewHistory(viewHistory)"><i class="material-icons">share</i>&nbsp; <span class="Submit1">Xem luồng</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddNewComment(modalAddComment)"><i class="material-icons">chat_bubble_outline</i>&nbsp; <span class="Submit1">Xin ý kiến</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="NextApprval(template)" *ngIf="isExecution"><i class="material-icons">redo</i>&nbsp; <span class="Submit1">Chuyển xử lý</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="ReturnRequest(combinerHandle)" *ngIf="isCombine"><i class="material-icons">redo</i>&nbsp; <span class="Submit1">Xử lý</span></button>
        <button mat-stroked-button color="warn" type="button" class="MR5" (click)="ReturnRequest(modalReturn)" *ngIf="isReturn"><i class="material-icons">repeat</i>&nbsp; <span class="Reset1">Trả lại</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="ReturnRequest(modalFinish)" *ngIf="isFinish"><i class="material-icons">done</i>&nbsp; <span class="Reset1">Hoàn thành</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddDocumentGo()" *ngIf="isAddDocGo"><i class="material-icons">note_add</i>&nbsp; <span class="Reset1">Tạo dự thảo</span></button>
        <button mat-stroked-button color="warn" type="button" class="MR5" (click)="ReturnRequest(modalRetrieve)" *ngIf="isRetrieve"><i class="material-icons">reply_all</i>&nbsp; <span class="Reset1">Thu hồi</span></button>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutGap="15px">
        <div fxFlex="auto" fxFlex.sm="100" fxLayout="column" class="content-side">
            <div class="caption">
                <span class="d-flex justify-content-between align-items-baseline">
                    <h3 class="title">Thông tin văn bản</h3>
                </span>
            </div>
            <div>
                <form class="example-form" *ngIf="itemDoc">
                    <!-- *ngIf="itemDoc" -->
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Sổ văn bản:</p>
                            <p fxFlex="auto">{{itemDoc.bookType}}</p>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Số đến:</p>
                            <p fxFlex="auto">{{itemDoc.numberTo}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <!-- <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Số phụ:</p>
                            <p fxFlex="auto">{{itemDoc.numberToSub}}</p>
                        </div> -->
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Số / Ký hiệu:</p>
                            <p fxFlex="auto">{{itemDoc.numberOfSymbol}}</p>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Nơi gửi:</p>
                            <p fxFlex="auto">{{itemDoc.source}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Loại văn bản:</p>
                            <p fxFlex="auto">{{itemDoc.docType}}</p>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Ngày đến:</p>
                            <p fxFlex="auto">{{itemDoc.dateTo}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="100">
                            <p fxFlex="12.5" class="form-label">Trích yếu:</p>
                            <p fxFlex="auto">{{itemDoc.compendium}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Độ mật:</p>
                            <p fxFlex="auto">{{itemDoc.secretLevel}}</p>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Độ khẩn:</p>
                            <p fxFlex="auto">{{itemDoc.urgentLevel}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <!-- <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Người xử lý:</p>
                            <p fxFlex="auto">{{itemDoc.userHandle}}</p>
                        </div> -->
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Ngày ban hành:</p>
                            <p fxFlex="auto">{{itemDoc.promulgatedDate}}</p>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Hạn xử lý:</p>
                            <p fxFlex="auto">{{itemDoc.deadlineShow}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Yêu cầu trả lời:</p>
                            <p fxFlex="auto">{{itemDoc.isResponse}}</p>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Người ký:</p>
                            <p fxFlex="auto">{{itemDoc.signer}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Phương thức nhận:</p>
                            <p fxFlex="auto">{{itemDoc.methodReceipt}}</p>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Số bản:</p>
                            <p fxFlex="auto">{{itemDoc.numberOfCopies}}</p>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="item-detail">
                        <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
                            <p fxFlex="25" class="form-label">Tài liệu đính kèm</p>
                            <div fxFlex="auto" fxLayout="column">
                                <div id="viewAttachment" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" *ngFor="let item of ItemAttachments">
                                    <!-- <div fxLayout="row" fxLayoutGap="10px" fxLayout="100"> -->
                                    <a href="{{item.urlFile}}" target="_blank" class="urlFile">{{item.name}}</a>
                                    <a mat-icon-button aria-label="download" href="{{item.linkdown}}">
                                        <mat-icon style="margin-bottom: 20px; font-size: 25px !important;">vertical_align_bottom</mat-icon>
                                    </a>
                                    <!-- </div> -->
                                </div>
                                <div fxFlex="auto" class="fileAttList">
                                    <app-filelist *ngFor="let fileAttachment of ItemAttachments" [fileAttachment]="fileAttachment"></app-filelist>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="caption">
                <span class="d-flex justify-content-between align-items-baseline">
                                <h3 class="title">Thông tin gửi nhận</h3>
                            </span>
            </div>
            <div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef> STT </th>
                        <td mat-cell *matCellDef="let element">{{element.STT}}</td>
                    </ng-container>
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef> Ngày gửi </th>
                        <td mat-cell *matCellDef="let element">{{element.created}}</td>
                    </ng-container>
                    <ng-container matColumnDef="userRequest">
                        <th mat-header-cell *matHeaderCellDef> Người gửi </th>
                        <td mat-cell *matCellDef="let element">{{element.userRequest}}</td>
                    </ng-container>
                    <ng-container matColumnDef="userApprover">
                        <th mat-header-cell *matHeaderCellDef> Người nhận </th>
                        <td mat-cell *matCellDef="let element">
                            <p class="{{element.stsTaskCode}}">{{element.userApprover}}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="deadline">
                        <th mat-header-cell *matHeaderCellDef> Hạn xử lý </th>
                        <td mat-cell *matCellDef="let element">{{element.deadline}}</td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Trạng thái</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="{{element.stsClass}}">{{element.status}}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="taskType">
                        <th mat-header-cell *matHeaderCellDef> Loại xử lý </th>
                        <td mat-cell *matCellDef="let element">{{element.taskType}}</td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Loại phiếu </th>
                        <td mat-cell *matCellDef="let element">
                            <p class="{{element.stsTypeCode}}">{{element.typeCode}}</p>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="_content">
                        <th mat-header-cell *matHeaderCellDef> Nội dung xử lý </th>
                        <td mat-cell *matCellDef="let element">{{element.content}}</td>
                    </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>

        </div>
        <!-- <div fxFlex="auto" fxLayout="column" class="content-side">
            <div class="caption">
                <span class="d-flex justify-content-between align-items-baseline" style="display:inline-block !important">
                    <h3 class="title">Ý kiến xử lý</h3>
                </span>
                <span class="span-icon justify-content-between align-items-baseline">
                    <i class="material-icons" style="font-size: 18px !important">comment</i>
                </span>
            </div>
            <div fxFlexFill>
                <div fxLayout="column" fxFlexFill fxLayoutGap="15px">
                    <div fxLayout="column">
                        <mat-form-field>
                            <mat-label>Bình luận</mat-label>
                            <textarea matInput [(ngModel)]="Comments" rows="3" required></textarea>
                        </mat-form-field>
                        <div fxLayout="row" fxLayout.xs="column" fxFlexFil fxLayoutGap="5px">
                            <div fxFlex="120px" fxFlex.xs="auto">
                                <button type="button" mat-stroked-button color="primary" (click)="fileInput.click()"> <i class="material-icons">publish</i>&nbsp; <span class="AddfileEdit">Tải tệp</span></button>
                                <input hidden (change)="addAttachmentFile(0)" #fileInput type="file" id="fileAttachment">
                            </div>
                            <div fxFlex="auto">
                                <div id="viewAttachment" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                    <div *ngFor="let items of outputFile"><a (click)="removeAttachmentFile(items, 0)"><i class="material-icons">clear</i>&nbsp;</a> items.name</div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end start" fxLayout.xs="column" fxFlexFill fxLayoutGap="5px">
                            <button mat-stroked-button color="primary" type="button" (click)="SendComment()"> <i class="material-icons">mail</i>&nbsp; <span class="Submit1">Gửi</span></button>
                        </div>
                    </div>
                    <div class="cmt-item" *ngFor="let item of listComment">
                        <div class="cmt-img">
                            <img src="item.userPicture">
                        </div>
                        <div class="cmt-content">
                            <h3 id="cmt-author">item.Author <span id="cmt-date">item.Created</span></h3>
                            <p id="cmt-title">item.Chat_Comments</p>
                            <div fxLayout="column">
                                <a *ngFor="let itemAtt of item.itemAttach" href="itemAtt.urlFile" target="_blank">itemAtt.name</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div fxFlex="35" fxLayout="column" class="content-side">
            <div class="caption">
                <span class="d-flex justify-content-between align-items-baseline" style="display:inline-block !important">
                    <h3 class="title">Ý kiến xử lý</h3>
                </span>
                <span class="span-icon justify-content-between align-items-baseline">
                    <i class="material-icons" style="font-size: 18px !important">comment</i>
                </span>
            </div>
            <div fxFlexFill>
                <div fxLayout="column" fxFlexFill fxLayoutGap="15px">
                    <div fxLayout="column">
                        <mat-form-field>
                            <mat-label>Bình luận</mat-label>
                            <textarea matInput [(ngModel)]="Comments" rows="3" required></textarea>
                        </mat-form-field>
                        <div fxLayout="row" fxLayout.xs="column" fxFlexFil fxLayoutGap="5px">
                            <div fxFlex="120px" fxFlex.xs="auto">
                                <button type="button" mat-stroked-button color="primary" (click)="fileInputComment.click()"> <i class="material-icons">publish</i>&nbsp; <span class="AddfileEdit">Tải tệp</span></button>
                                <input hidden (change)="addAttachmentFile(3)" #fileInputComment type="file" id="fileAttachmentComment">
                            </div>
                            <div fxFlex="auto">
                                <div id="viewAttachment" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                    <div *ngFor="let items of outputFileComment"><a (click)="removeAttachmentFile(items,3)"><i class="material-icons">clear</i>&nbsp;</a> {{items.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end start" fxLayout.xs="column" fxFlexFill fxLayoutGap="5px">
                            <button mat-stroked-button color="primary" type="button" (click)="saveComment(this.Comments,false,null)"> <i class="material-icons">mail</i>&nbsp; <span class="Submit1">Gửi</span></button>
                        </div>
                    </div>
                    <div style="height:800px ;overflow: auto; display: flex;" fxLayout="column" fxLayoutGap="10px">
                        <div class="cmt-item" *ngFor="let item of listCommentParent; let i=index;" fxLayout="row" fxLayoutGap="15px">
                            <div class="cmt-img" fxFlex="60px">
                                <img src="{{item.userPicture}}">
                            </div>
                            <div class="cmt-content" fxFlex="auto" fxLayout="column">
                                <h3 id="cmt-author">{{item.Author}} <span *ngIf="item.UserApprover!=''"> xin ý kiến </span> {{item.UserApprover}} <span id="cmt-date">{{item.Created}}</span></h3>
                                <button mat-stroked-button color="primary" type="button" class="btn-submit" (click)="Reply(i)" *ngIf="item.Reply">Trả lời</button>
                                <p id="cmt-title">{{item.Chat_Comments}}</p>
                                <div fxLayout="column">
                                    <a *ngFor="let itemAtt of item.itemAttach" href="{{itemAtt.urlFile}}" target="_blank" class="urlFile">{{itemAtt.name}}</a>
                                </div>
                                <div fxLayout="column" class="content-side" [style.display]="item.DisplayReply">
                                    <div class="row">
                                        <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                            <textarea matInput placeholder="Nội dung trả lời" [(ngModel)]="item.Content" minlength="0" maxlength="1000" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-stroked-button color="primary" type="button" class="MR5 btn-submit" (click)="saveCommentReply(i)"><i class="material-icons">send</i>&nbsp; <span class="Submit1">Gửi</span></button>
                                    </div>
                                </div>
                                <div class="contentspacer"></div>
                                <div style="display: flex;" fxLayout="column" fxLayoutGap="5px">
                                    <div class="cmt-item" *ngFor="let itemChild of item.children; let j=index" fxFlex="100" fxLayoutGap="10px">
                                        <div class="cmt-img" fxFlex="60px">
                                            <img src="{{itemChild.userPicture}}">
                                        </div>
                                        <div class="cmt-content" fxFlex="auto" fxLayout="column">
                                            <h3 id="cmt-author">{{itemChild.Author}} <span id="cmt-date">{{itemChild.Created}}</span></h3>
                                            <!-- <button mat-stroked-button color="primary" type="button" class="btn-submit" (click)="Reply(i,j)">Trả lời</button> -->
                                            <p id="cmt-title">{{itemChild.Chat_Comments}}</p>
                                            <div fxLayout="column">
                                                <a *ngFor="let itemAttChild of itemChild.itemAttach" href="{{itemAttChild.urlFile}}" target="_blank" class="urlFile">{{itemAttChild.name}}</a>
                                            </div>
                                            <div fxLayout="column" class="content-side" [style.display]="itemChild.DisplayReply">
                                                <div class="row">
                                                    <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                                        <textarea matInput placeholder="Nội dung trả lời" [(ngModel)]="itemChild.Content" minlength="0" maxlength="1000" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"></textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div>
                                                    <button mat-stroked-button color="primary" type="button" class="MR5 btn-submit" (click)="saveCommentReply(i,j)"><i class="material-icons">send</i>&nbsp; <span class="Submit1">Gửi</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div fxLayout="row" fxFlexFill fxLayoutGap="15px">
        <div fxFlex="60" fxFlex.sm="100" fxLayout="column" class="content-side">
            <div class="caption">
                <span class="d-flex justify-content-between align-items-baseline">
                        <h3 class="title">Thông tin gửi nhận</h3>
                    </span>
            </div>
            <div fxFlexFill>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef> STT </th>
                        <td mat-cell *matCellDef="let element">{{element.STT}}</td>
                    </ng-container>
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef> Ngày gửi </th>
                        <td mat-cell *matCellDef="let element">{{element.created}}</td>
                    </ng-container>
                    <ng-container matColumnDef="userRequest">
                        <th mat-header-cell *matHeaderCellDef> Người gửi </th>
                        <td mat-cell *matCellDef="let element">{{element.userRequest}}</td>
                    </ng-container>
                    <ng-container matColumnDef="userApprover">
                        <th mat-header-cell *matHeaderCellDef> Ngày nhận </th>
                        <td mat-cell *matCellDef="let element">{{element.userApprover}}</td>
                    </ng-container>
                    <ng-container matColumnDef="deadline">
                        <th mat-header-cell *matHeaderCellDef> Hạn xử lý </th>
                        <td mat-cell *matCellDef="let element">{{element.deadline}}</td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Trạng thái</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="{{element.stsClass}}">{{element.status}}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="taskType">
                        <th mat-header-cell *matHeaderCellDef> Loại xử lý </th>
                        <td mat-cell *matCellDef="let element">{{element.taskType}}</td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Loại phiếu </th>
                        <td mat-cell *matCellDef="let element">{{element.typeCode}}</td>
                    </ng-container>
                    <ng-container matColumnDef="_content">
                        <th mat-header-cell *matHeaderCellDef> Nội dung xử lý </th>
                        <td mat-cell *matCellDef="let element">{{element.content}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div> -->
    <div fxFlexFil class="actions">
        <button mat-stroked-button color="primary" type="button" class="MR5" ng-model="showList" #undo2 (click)="gotoBack()"><i class="material-icons">undo</i>&nbsp; <span class="Submit1"></span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="ViewHistory(viewHistory)"><i class="material-icons">share</i>&nbsp; <span class="Submit1">Xem luồng</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddNewComment(modalAddComment)"><i class="material-icons">chat_bubble_outline</i>&nbsp; <span class="Submit1">Xin ý kiến</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="NextApprval(template)" *ngIf="(isExecution)"><i class="material-icons">redo</i>&nbsp; <span class="Submit1">Chuyển xử lý</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="ReturnRequest(combinerHandle)" *ngIf="(isCombine)"><i class="material-icons">redo</i>&nbsp; <span class="Submit1">Xử lý</span></button>
        <button mat-stroked-button color="warn" type="button" class="MR5" (click)="ReturnRequest(modalReturn)" *ngIf="(isReturn)"><i class="material-icons">repeat</i>&nbsp; <span class="Reset1">Trả lại</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="ReturnRequest(modalFinish)" *ngIf="(isFinish)"><i class="material-icons">done</i>&nbsp; <span class="Reset1">Hoàn thành</span></button>
        <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddDocumentGo()" *ngIf="(isAddDocGo)"><i class="material-icons">note_add</i>&nbsp; <span class="Reset1">Tạo dự thảo</span></button>
        <button mat-stroked-button color="warn" type="button" class="MR5" (click)="ReturnRequest(modalRetrieve)" *ngIf="(isRetrieve)"><i class="material-icons">reply_all</i>&nbsp; <span class="Reset1">Thu hồi</span></button>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Chọn người xử lý</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
                    <div class="example-container mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource2">
                            <!-- Position Column -->
                            <ng-container matColumnDef="person">
                                <th mat-header-cell *matHeaderCellDef> Tên đơn vị, cá nhân </th>
                                <td mat-cell *matCellDef="let element" class="{{element.Class}}">
                                    <mat-icon>{{element.Icon}}</mat-icon> {{element.Name}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="role">
                                <th mat-header-cell *matHeaderCellDef class="role-name"> Vai trò </th>
                                <td mat-cell *matCellDef="let element" class="role-name"> {{element.Role}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="process">
                                <th mat-header-cell *matHeaderCellDef class="input-checkox">Xử lý chính</th>
                                <td mat-cell *matCellDef="let element" class="input-checkox">
                                    <mat-checkbox *ngIf="element.isPerson" [(ngModel)]="element.IsHandle" (change)="CheckUserHandle(element.Code, element.IsHandle)"></mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Symbol Column CheckUserHandle(element.Code, element.IsDepartment)-->
                            <ng-container matColumnDef="combine">
                                <th mat-header-cell *matHeaderCellDef class="input-checkox">Phối hợp xử lý</th>
                                <td mat-cell *matCellDef="let element" class="input-checkox">
                                    <mat-checkbox *ngIf="element.isPerson" [(ngModel)]="element.IsCombine" (change)="CheckUserNotHandle1(element.Code, element.STT, element.IsCombine)"></mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="know">
                                <th mat-header-cell *matHeaderCellDef class="input-checkox">Nhận để biết</th>
                                <td mat-cell *matCellDef="let element" class="input-checkox">
                                    <mat-checkbox *ngIf="element.isPerson" [(ngModel)]="element.IsKnow" (change)="CheckUserNotHandle2(element.Code, element.STT, element.IsKnow)"></mat-checkbox>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                    </div>

                    <div style="margin-top: 60px"></div>
                    <mat-card fxLayout="column">
                        <mat-form-field fxFlex="100" *ngIf="IsDeadline">
                            <mat-label>Hạn xử lý văn bản</mat-label>
                            <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="myFilter" (click)="picker2.open()" [(ngModel)]="deadlineDoc" (keypress)="validateQty($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="100">
                            <mat-label>Nội dung xử lý <span class="required-field">*</span></mat-label>
                            <textarea matInput [(ngModel)]="content"></textarea>
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                            <mat-label>Hạn xử lý</mat-label>
                            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" (click)="picker.open()" [(ngModel)]="deadline" (keypress)="validateQty($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <div fxLayout="row" fxLayout.xs="column" fxFlex="100" fxLayoutGap="5px">
                            <div fxFlex="120px" fxFlex.xs="auto">
                                <button type="button" mat-stroked-button color="primary" (click)="fileInputHandle.click()">
                                                     <i class="material-icons">publish</i>&nbsp; <span class="AddfileEdit">Tải tệp</span>
                                                    </button>
                                <input hidden (change)="addAttachmentFile(1)" #fileInputHandle type="file" id="fileAttachmentHandle">
                            </div>
                            <div fxFlex="auto">
                                <div id="viewAttachment" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                    <div *ngFor="let items of outputFileHandle">
                                        <a (click)="removeAttachmentFile(items, 1)"> <i class="material-icons delFile">clear</i>&nbsp;</a> {{items.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <mat-card fxFlex="40" fxLayout="column" fxLayoutGap="15px">
                    <mat-list role="list">
                        <h3 mat-subheader class="title-handle">Xử lý chính</h3>
                        <mat-list-item *ngIf="selectedApprover">{{selectedApprover.split('|')[2]}}</mat-list-item>
                    </mat-list>
                    <mat-list role="list">
                        <h3 mat-subheader class="title-combine">Phối hợp xử lý</h3>
                        <mat-list-item *ngFor="let element of selectedCombiner">{{element.split('|')[2]}}</mat-list-item>
                    </mat-list>
                    <mat-list role="list">
                        <h3 mat-subheader class="title-know">Nhận để biết</h3>
                        <mat-list-item *ngFor="let element of selectedKnower">{{element.split('|')[2]}}</mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
        </div>
        <div class="modal-footer" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddListTicket()" style="width: 100px"><i class="material-icons">save</i>&nbsp; Lưu</button>
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="bsModalRef.hide()" style="width: 100px"><i class="material-icons">close</i>&nbsp; Đóng</button>
        </div>
    </ng-template>

    <ng-template #combinerHandle>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Xử lý</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" fxLayout="column">
            <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
                <mat-card fxLayout="column">
                    <mat-form-field fxFlex="100">
                        <mat-label>Nội dung xử lý <span class="required-field">*</span></mat-label>
                        <textarea matInput [(ngModel)]="content"></textarea>
                    </mat-form-field>
                    <div fxLayout="row" fxLayout.xs="column" fxFlex="100" fxLayoutGap="5px">
                        <div fxFlex="120px" fxFlex.xs="auto">
                            <button type="button" mat-stroked-button color="primary" (click)="fileInputHandle.click()">
                                                    <i class="material-icons">publish</i>&nbsp; <span class="AddfileEdit">Tải tệp</span>
                                                </button>
                            <input hidden (change)="addAttachmentFile(1)" #fileInputHandle type="file" id="fileAttachmentHandle">
                        </div>
                        <div fxFlex="auto">
                            <div id="viewAttachment" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                <div *ngFor="let items of outputFileHandle">
                                    <a (click)="removeAttachmentFile(items, 1)"> <i class="material-icons delFile">clear</i>&nbsp;</a> {{items.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="modal-footer" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddListTicketCombiner()" style="width: 100px"><i class="material-icons">save</i>&nbsp; Lưu</button>
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="bsModalRef.hide()" style="width: 100px"><i class="material-icons">close</i>&nbsp; Đóng</button>
        </div>
    </ng-template>

    <ng-template #modalFinish>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Hoàn thành</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" fxLayout="column">
            <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
                <mat-card fxLayout="column">
                    <mat-form-field fxFlex="100">
                        <mat-label>Nội dung xử lý <span class="required-field">*</span></mat-label>
                        <textarea matInput [(ngModel)]="content"></textarea>
                    </mat-form-field>
                    <!-- <div fxLayout="row" fxLayout.xs="column" fxFlex="100" fxLayoutGap="5px">
                        <div fxFlex="120px" fxFlex.xs="auto">
                            <button type="button" mat-stroked-button color="primary" (click)="fileInputHandle.click()">
                                                    <i class="material-icons">publish</i>&nbsp; <span class="AddfileEdit">Tải tệp</span>
                                                </button>
                            <input hidden (change)="addAttachmentFile(1)" #fileInputHandle type="file" id="fileAttachmentHandle">
                        </div>
                        <div fxFlex="auto">
                            <div id="viewAttachment" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                <div *ngFor="let items of outputFileHandle">
                                    <a (click)="removeAttachmentFile(items, 1)"> <i class="material-icons delFile">clear</i>&nbsp;</a> {{items.name}}
                                </div>
                            </div>
                        </div>
                    </div> -->
                </mat-card>
            </div>
        </div>
        <div class="modal-footer" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="FinishRequest()" style="width: 100px"><i class="material-icons">save</i>&nbsp; Hoàn thành</button>
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="bsModalRef.hide()" style="width: 100px"><i class="material-icons">close</i>&nbsp; Đóng</button>
        </div>
    </ng-template>

    <ng-template #modalReturn>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Gửi trả lại</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
                    <mat-card fxLayout="column">
                        <mat-form-field fxFlex="100">
                            <mat-label>Lý do trả lại <span class="required-field">*</span></mat-label>
                            <textarea matInput [(ngModel)]="content"></textarea>
                        </mat-form-field>

                        <div fxLayout="row" fxLayout.xs="column" fxFlex="100" fxLayoutGap="5px">
                            <div fxFlex="120px" fxFlex.xs="auto">
                                <button type="button" mat-stroked-button color="primary" (click)="fileInputReturn.click()">
                                    <i class="material-icons">publish</i>&nbsp; <span class="AddfileEdit">Tải tệp</span>
                                </button>
                                <input hidden (change)="addAttachmentFile(2)" #fileInputReturn type="file" id="fileAttachmentReturn">
                            </div>
                            <div fxFlex="auto">
                                <div id="viewAttachment" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                    <div *ngFor="let items of outputFileReturn">
                                        <a (click)="removeAttachmentFile(items, 2)"> <i class="material-icons delFile">clear</i>&nbsp;</a> {{items.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="modal-footer" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddTicketReturn()" style="width: 100px"><i class="material-icons">save</i>&nbsp; Lưu</button>
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="bsModalRef.hide()" style="width: 100px"><i class="material-icons">close</i>&nbsp; Đóng</button>
        </div>
    </ng-template>

    <ng-template #modalRetrieve>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Thu hồi văn bản</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
                    <div class="example-container mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource3">
                            <ng-container matColumnDef="stt">
                                <th mat-header-cell *matHeaderCellDef> STT </th>
                                <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
                            </ng-container>
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="department">
                                <th mat-header-cell *matHeaderCellDef> Tên đơn vị </th>
                                <td mat-cell *matCellDef="let element"> {{element.Department}} </td>
                            </ng-container>
                            <ng-container matColumnDef="role">
                                <th mat-header-cell *matHeaderCellDef> Vai trò </th>
                                <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> Loại xử lý </th>
                                <td mat-cell *matCellDef="let element"> {{element.TaskType}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="userId">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element"> {{element.UserId}} </td>
                            </ng-container> -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                        </table>
                    </div>
                    <div style="margin-top: 60px"></div>
                    <mat-card fxLayout="column">
                        <mat-form-field fxFlex="100">
                            <mat-label>Lý do thu hồi</mat-label>
                            <textarea matInput [(ngModel)]="ReasonRetrieve"></textarea>
                        </mat-form-field>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="modal-footer" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddTicketRetrieve()" style="width: 100px"><i class="material-icons">save</i>&nbsp; Lưu</button>
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="bsModalRef.hide()" style="width: 100px"><i class="material-icons">close</i>&nbsp; Đóng</button>
        </div>
    </ng-template>

    <ng-template #viewHistory>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Chọn người xử lý</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body" fxLayout="row">
            <div fxLayout="row" fxLayoutGap="20px" style="width: 100% !important">
                <div class="mt-element-step" fxFlex="100">
                    <div class="row step-line">
                        <!-- <div *ngFor="let itemStep of StatusStepLine" class="mt-step-col {{itemStep.stepClass}}" [ngStyle]="{'width': styleExp}">
                                <div class="mt-step-number bg-white">{{itemStep.stepNumber}}</div>
                                <div class="mt-step-title uppercase font-grey-cascade">{{itemStep.stepTitle}}</div>
                                <div class="mt-step-content font-grey-cascade" id="Approver_0">{{itemStep.stepContent}}</div>
                            </div> -->
                        <div class="mt-step-col first done" style="float:left; width:33%">
                            <div class="mt-step-number bg-white" style="visibility: hidden"><img src="{{imgUserDefault}}" style="width: 75px; height: 75px;"></div>
                            <div class="mt-step-number bg-white"><img src="{{imgUserDefault}}" style="width: 75px; height: 75px"></div>
                            <div class="mt-step-title uppercase font-grey-cascade">Người yêu cầu</div>
                            <div class="mt-step-content font-grey-cascade" id="Approver_0">Ha Thanh Loan</div>
                        </div>
                        <div class="mt-step-col active" style="float:left; width:33%">
                            <div class="mt-step-number bg-white"><img src="{{imgUserDefault}}" style="width: 75px; height: 75px"></div>
                            <div class="mt-step-number bg-white"><img src="{{imgUserDefault}}" style="width: 75px; height: 75px"></div>
                            <div class="mt-step-number bg-white"><img src="{{imgUserDefault}}" style="width: 75px; height: 75px"></div>
                            <div class="mt-step-title uppercase font-grey-cascade">T.BP</div>
                            <div class="mt-step-content font-grey-cascade" id="Approver_1">Demo Account</div>
                        </div>
                        <div class="mt-step-col last" style="float:left; width:33%">
                            <div class="mt-step-number bg-white" style="visibility: hidden"><img src="{{imgUserDefault}}" style="width: 75px; height: 75px;"></div>
                            <div class="mt-step-number bg-white"><img src="{{imgUserDefault}}" style="width: 75px; height: 75px"></div>
                            <div class="mt-step-title uppercase font-grey-cascade">P.HCNS</div>
                            <div class="mt-step-content font-grey-cascade" id="Approver_2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="AddListTicket()" style="width: 100px"><i class="material-icons">save</i>&nbsp; Lưu</button>
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="bsModalRef.hide()" style="width: 100px"><i class="material-icons">close</i>&nbsp; Đóng</button>
        </div>
    </ng-template>

    <ng-template #modalAddComment>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Xin ý kiến</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
                    <!-- <mat-card fxLayout="column"> -->
                    <mat-form-field fxFlex="100">
                        <mat-label>Chọn người xin ý kiến<span class="required-field">*</span></mat-label>
                        <mat-select [(ngModel)]="selectedUserComment">
                            <mat-option *ngFor="let item of (ListAllUser | async)" value="{{item.Id}}|{{item.Email}}|{{item.DisplayName}}">{{item.DisplayName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="100">
                        <mat-label>Nội dung xin ý kiến <span class="required-field">*</span></mat-label>
                        <textarea matInput [(ngModel)]="contentComment" rows="1"></textarea>
                    </mat-form-field>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFil fxLayoutGap="5px">
                        <div fxFlex="120px" fxFlex.xs="auto">
                            <button type="button" mat-stroked-button color="primary" (click)="fileInputAddComment.click()"> <i
                                                    class="material-icons">publish</i>&nbsp; <span class="AddfileEdit">Tải tệp</span></button>
                            <input hidden (change)="addAttachmentFile(4)" #fileInputAddComment type="file" id="fileAttachmentAddComment">
                        </div>
                        <div fxFlex="auto">
                            <div id="viewAttachment" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                <div *ngFor="let items of outputFileAddComment"><a (click)="removeAttachmentFile(items,4)"><i
                                                            class="material-icons">clear</i>&nbsp;</a> {{items.name}}
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- </mat-card> -->
                </div>
            </div>
        </div>
        <div class="modal-footer" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="saveItem()" style="width: 100px"><i class="material-icons">save</i>&nbsp; Lưu</button>
            <button mat-stroked-button color="primary" type="button" class="MR5" (click)="bsModalRef.hide()" style="width: 100px"><i class="material-icons">close</i>&nbsp; Đóng</button>
        </div>
    </ng-template>
</div>